@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile optimization */
body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}
/* Hide scrollbar for PWA feel */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}